# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env.local
.env.*.local

# Next.js
.next/
.next-e2e/
out/

# NestJS
dist/

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
test-results/
playwright-report/

# Misc
*.tsbuildinfo
